/* forth page */

/* .side
{
    position: relative;
}

.imagesidebar
{
    float: right;
}
.img3
{
    margin: 25px 65px 10px 10px;
    height: 200px;
    position: relative;
}

.label1 , .label2
{
    margin: 0px 65px 10px -60px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstside
{
    text-align: center;
    background: #313131;
    color: #fff;
    width: 65%;
    font-size: 30px;
    margin: 5% 10% 10% 5%;
    padding: 50px;
    transform: rotateX(0deg);
    transition: all 0.5s ease-in-out;
    position: absolute;
    color: #fff;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    opacity: 0;
}

.secondside
{
    background: #313131;    
    transform: rotateX(-180deg);
    transition: all 0.5s ease-in-out;
    position: absolute;
    width: 65%;
    font-size: 30px;
    margin: 5% 10% 10% 5%;
    background-color: #313131;
    color: #fff;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    opacity: 0;
}

.frontside.side .firstside
{    
    transform: rotateX(0deg);
    opacity: 1;
}
.backside.side .secondside
{
    transform: rotateX(0deg);
    opacity: 1;
} */



.label1 , .label2
{
    margin: 0px 65px 10px -60px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagesidebar
{
    float: right;
}
.img10
{
    margin: 25px 65px 10px 10px;
    height: 200px;
    position: relative;
}

.side
{
    position: relative;
    width: 60%;
    /* height: 50%; */
    font-size: 30px;
}
.side1
{
    position: absolute;
    width: 100%;
    margin: 40px 10px 10px 50px;
    background-color: blueviolet;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

.firstside
{
    display: none;
}
.secondside
{
    display: none;
}

