/* 3rd page */

.mobile
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 9%;
    position: relative;
    padding-bottom: 40px;
    background-color: rgb(13, 64, 131);
}

.heading3
{
    position: absolute;
    text-align: center;
    font-size: 40px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.flex1 img
{
    width: 85%;
}
.flex1
{
    width: 30%;
}
.gridma
{
    width: 70%;
    height: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.imagema
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.one
{
    border-top-left-radius: 20px;
}
.three
{
    border-top-right-radius: 20px;
}
.seven
{
    border-bottom-left-radius: 20px;
}
.nine
{
    border-bottom-right-radius: 20px;
}

.card1
{
    position: relative;
}

.text1
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 17px;
    color: #fff;
    align-items: center;
    transform: rotateY(-180deg);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    background-color: rgb(59,63,74);
    font-size: 20px;
}

.imagema
{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
    background: #313131;
    background-repeat: no-repeat;
    display: block;
}

/* .card1:hover .text1  */
.pega.hovering-text .text1
{
    transform: rotateY(0deg);
    opacity: 1;
}

/* .card1:hover .imagema  */
.pega.hovering-image .imagema
{
    transform: rotateY(180deg);
    opacity: 0;
}

/* .card1:hover .text1  */
.flutter.hovering-text .text1
{
    transform: rotateY(0deg);
    opacity: 1;
}

/* .card1:hover .imagema  */
.flutter.hovering-image .imagema
{
    transform: rotateY(180deg);
    opacity: 0;
}

/* .card1:hover .text1  */
.dart.hovering-text .text1
{
    transform: rotateY(0deg);
    opacity: 1;
}

/* .card1:hover .imagema  */
.dart.hovering-image .imagema
{
    transform: rotateY(180deg);
    opacity: 0;
}
