* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.hero {
	height: 100vh;
	background: url('./Images/Layer_0.png') center/cover;
	position: relative;
}

.laptop {
	position: absolute;
	top: 110px;
	left: 100px;
	width: 480px;
}

.layer1 {
	position: absolute;
	top: 135px;
	left: 225px;
	width: 265px;
}

.layer2 {
	position: absolute;
	top: 135px;
	left: 315px;
	width: 270px;
}

.layer3 {
	position: absolute;
	top: 135px;
	left: 400px;
	width: 270px;
}

.name {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.Words {
	width: 60px;
}

.main {
	height: 60vh;
	background: url('./Images/spacesbg.png') center;
	background-size: 210%;
	background-attachment: fixed;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-content: center;
	position: relative;
}

.main img {
	position: relative;
	left: 180px;
	width: 30%;
}

.courses-container {
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: grey;
}

.courses {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 80%;
	width: 80%;
	border-radius: 50px;
}

.course {
	width: 100%;
	height: 100%;
}

.empty {
	background-color: white;
}
