@import url("http://fonts.cdnfonts.com/css/phoenix-rising");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section
{
    height: 100vh;
    scroll-snap-align: start;
}

.container
{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 3.5rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 35px 0;
	background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
	text-shadow: 1px 1px 2px white, 2px 2px 3px rgba(0, 0, 0, 1);
}

.logo-container {
	margin-left: 6%;
}

.logo {
	text-decoration: none;
	color: white;
	font-size: 1.7rem;
	font-weight: 200;
	letter-spacing: 2px;
	transition: all 0.3s;
}

.logo span {
	font-weight: 600;
}

.menu {
	position: absolute;
}

.nav-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 6%;
}

.list-item {
	padding: 10px;
	list-style-type: none;
}

.list-item a {
	text-decoration: none;
	color: white;
	transition: all 0.3s;
	font-size: 20px;
}

.hero {
	background: linear-gradient(200deg, #59c173, #a17fe0, #5d26c1);
	background-position: bottom left;
	height: 100vh;
	position: relative;
}

.laptop {
  position: absolute;
  top: 110px;
  left: 100px;
  width: 480px;
}

.layer1 {
  position: absolute;
  top: 135px;
  left: 225px;
  width: 265px;
}

.layer2 {
  position: absolute;
  top: 135px;
  left: 315px;
  width: 270px;
}

.layer3 {
  position: absolute;
  top: 135px;
  left: 400px;
  width: 270px;
}

.name {
  position: absolute;
  right: 150px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.Words {
  width: 600px;
}

.name-backdrop {
  position: absolute;
  right: 450px;
  color: rgba(120, 252, 197, 0.15);
  top: 46%;
  transform: translateY(-50%) scale(14);
  font-family: "Phoenix Rising", sans-serif;
  font-size: xx-large;
  z-index: 1;
  mix-blend-mode: color-dodge;
}

.word-backdrop {
  width: 400px;
  height: 300px;
  mix-blend-mode: overlay;
}

#shadow {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 90px;
	opacity: 0.6;
	mix-blend-mode: multiply;
}

#Shadow_fliped {
	width: 100%;
	mix-blend-mode: multiply;
	position: absolute;
	top: 0px;
	height: 20%;
	opacity: 0.6;
}

.main {
	height: 60vh;
	background: url('./Images/spacesbg.png') center;
	background-size: 210%;
	background-attachment: fixed;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-content: center;
	position: relative;
}

.main .aboutus {
	position: relative;
	left: 180px;
	width: 25%;
}

.courses-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 80%;
  width: 80%;
  border-radius: 50px;
}

.course {
  width: 100%;
  height: 100%;
}

.empty {
  background-color: white;
}

.section3 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: linear-gradient(rgb(0, 255, 242), rgb(0, 38, 255));
}

.grid {
  position: absolute;
  height: 85%;
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 7%;
  grid-column-gap: 4%;
}

.gridfr {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 35px;
  border: 0.5px solid #00FFFF;
  border-radius: 25px;
  transition: 0.4s;
  box-shadow: -13px 14px 24px 5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: -13px 14px 24px 5px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

/* .gridfr:hover{
  background-size: 110%;
} */

.gridfr::before {
  content: "";
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(45deg) translateX(580px);
  transition: 0.6s;
}

.gridfr:hover::before {
  transform: skew(45deg) translateX(-580px);
}

.gridfr img {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  filter: blur(2px);
}

.gridfr h4 {
  display: block;
  z-index: 1;
  margin-bottom: 30px;
  font-family: "Roboto Slab", serif;
  color: white;
}

.gridfr a {
  position: relative;
  background: green;
  z-index: 2;
  color: white;
  display: block;
  border: none;
  padding: 15px 21px 15px 21px;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  border-radius: 45% 0% 45% 0%;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  overflow: hidden;
  cursor: pointer;
}

.gridfr a::after {
  content: " ";
  background: rgb(241, 241, 241);
  position: absolute;
  padding-top: 210%;
  padding-left: 200%;
  margin-top: -68%;
  margin-left: -124px;
  opacity: 0;
  transition: all 0.7s;
}

.gridfr a:hover::after {
	padding: 0%;
	margin: 0%;
	opacity: 1;
	transition: 0.7s;
}

.grid11 {
	filter: blur(5px);
	transform: scale(0.9);
	opacity: 0.7;
	transition: 0.6s;
}

.gridhover {
	filter: blur(0px);
	transform: scale(1);
	opacity: 1;
	transition: 0.6s;
}

footer {
	width: 100%;
	height: 20vh;
	background-color: #37393a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.6);
	line-height: 1.5rem;
}

.grid11 {
  filter: blur(10px);
  transform: scale(0.9);
  opacity: 0.7;
  box-shadow: -13px 14px 25px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -13px 14px 25px 2px rgba(0, 0, 0, 0.75);
  transition: 0.6s;
}

.gridhover {
  filter: blur(0px);
  transform: scale(1.1);
  opacity: 1;
  transition: 0.6s;
  box-shadow: 13px -14px 24px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 13px -14px 24px 5px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

/* .grid:hover .gridfr{
  filter: blur(10px);
  transform: scale(0.9);
  opacity: 0.7;
  transition: 0.3s;
} 

 .grid .gridfr:hover{
  filter: blur(0px);
  transform: scale(1);
  opacity: 1;
  transition: 0.3s;
} */

.section5 {
  position: relative;
  height: 100vh;
  width: 100%;
}

.example {
  position: absolute;
  z-index: 20;
  height: 50%;
  width: 50%;
  background: url(./Images/event.png);
  background-size: contain;
  background-repeat: no-repeat;
  backdrop-filter: blur(20px);
}

.example2 {
  position: absolute;
  z-index: 21;
  height: 50%;
  width: 50%;
  backdrop-filter: blur(20px);
}
