* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

section {
	scroll-snap-align: start;
}

.header {
	min-height: 100vh;
	font-family: "Atkinson Hyperlegible", sans-serif;
	color: #334756;
	text-align: left;
	background-color: #fafafa;
	z-index: 0;
}

.title {
	padding: 50px;
	font-family: "Atkinson Hyperlegible", sans-serif;
	color: #334756;
	font-size: 4rem;
	text-align: center;
}

.title-2 {
	font-family: "Atkinson Hyperlegible", sans-serif;
	color: #334756;
	padding: 20px 0rem 40px 0rem;
	/* margin-bottom: 0%; */
	text-align: center;
}
/* .floater { */

/* box-shadow: 8px 0px 21px 0px rgba(0, 0, 0,0.3) ; */
/* top: 25%; */
/* left: 5%; */
/* width: 90%; */

/* background-color:#FFDAB9 ; */
/* 9 */

/* }  */
.content {
	font-size: 20px;
	line-height: 2rem;
	width: 70%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
/* .header::after {

	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/* background-color: rgba(46, 115, 204, 0.3); */
/*background: rgba(0, 0, 0, 0.4);/*rgba(29, 38, 113, 0.4) */

/*z-index: 0;

} */

.title-3 {
	font-family: "Anton", sans-serif;
	width: 95%;
	text-align: center;
	color: #005a8d;
	font-size: 2.5rem;
	padding: 50px 30px 70px 0rem;
	text-align: center;
}
.title-4 {
	color: #005a8d;
	font-family: "Anton", sans-serif;
	font-size: 2.5rem;
	margin: 50px 2rem 0rem 0rem;
	text-align: center;
}

.xtra {
	margin-top: 40px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	z-index: 0;
	min-height: 100vh;
	background-color: #77acf1;
}

.list {
	/* font-family: 'Atkinson Hyperlegible', sans-serif; */

	padding-bottom: 40px;
	text-align: center;
	font-size: 1rem;
	line-height: 2.3rem;
}
.list-2 {
	/* font-family: 'Atkinson Hyperlegible', sans-serif; */
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 1rem;
	line-height: 1.8rem;
}
.flex-1 {
	font-family: "Montserrat", sans-serif;
	color: #334756;
	width: 30vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
.flex-2 {
	font-family: "Montserrat", sans-serif;
	color: #334756;
	width: 30vw;
}
/* our team */

.team-title {
	position: relative;
	top: 10%;
	margin-bottom: 50px;
	text-align: center;
	font-family: "Atkinson Hyperlegible", sans-serif;
	color: #5089c6;
	font-size: 3rem;
}

.section-team {
	background-color: #eeeeee;
	height: 100vh;
}
.team-flex-main {
	min-height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.grid1 {
	grid-area: team1;
}
.grid2 {
	grid-area: team2;
}
.grid3 {
	grid-area: team3;
}
.grid4 {
	grid-area: team4;
}
.grid5 {
	grid-area: team5;
}
.grid6 {
	grid-area: team6;
}

.team {
	padding-top: 50px;
	position: relative;
	display: grid;
	grid-template-areas:
		"team1 team2 team3"
		"team4 team5 team6";
	grid-row-gap: 100px;
	grid-column-gap: 80px;

	align-items: center;
	top: 30%;
	margin-top: auto;
	margin-bottom: auto;

	justify-content: center;

	justify-content: center;
}

.our-team {
	background: #334756;
	text-align: center;
	overflow: hidden;
	position: relative;
	height: 230px;
	width: 300px;
	margin: 0px 25px;
	padding: 30px;
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
.team-content {
	color: #eeeeee;
	font-family: "Atkinson Hyperlegible", sans-serif;
	margin: 3rem 0 0rem 0;
}
.post {
	padding-top: 10px;
}
.social {
	width: 100%;
	padding: 0;
	margin: 0;
	background: #5089c6;
	position: absolute;
	left: 0;
	bottom: 0;

	transition: all 200ms ease-in-out;
}
.social li {
	text-decoration: none;
}

.our-team:hover .social {
	bottom: 0;
}
.our-team .social li {
	display: inline-block;
}
.our-team .social li a {
	display: block;
	padding: 20px;
	transition: all 200ms ease-in;
}
.our-team .social li a:hover {
	color: rgb(255, 255, 255);
}

@media (min-width: 1200px) {
	.section-team {
		position: relative;
	}
	.team {
		position: relative;
		display: grid;
		grid-template-areas:
			"team1 team2 team3"
			"team4 team5 team6";
		grid-row-gap: 30px;
		grid-column-gap: 80px;
		align-items: center;
		top: 30%;
		margin-top: 5%;
		margin-bottom: auto;
		justify-content: center;
		justify-content: center;
	}
	.team-title {
		position: absolute;
		width: 100%;
		top: -20px;
		padding: 50px;
	}

	.list
	{
		line-height: 2rem;
	}
	.list-2
	{
		line-height: 1.5rem;
	}
	.title
	{
		padding-top: 100px;
	}
	.section-team
	{
		padding-bottom: 650px;
	}
}
