
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 


 
}

.container-scroll {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
section {
  scroll-snap-align: start;
  
}
.header {
 position: relative;
 display: flex;
 
align-items: flex-start;
padding-top: 3rem;
justify-content: center;
/* background: url('resouses/christin-hume-mfB1B1s4sMc-unsplash.jpg') center/cover ; */
 background-color: #fafafa; /*  #64C9CF */

/* background-attachment: fixed; */
width: 100%;
height: 100vh;

}
/* .header::after {
 
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: rgba(46, 115, 204, 0.3); */
 /*background: rgba(0, 0, 0, 0.4);/*rgba(29, 38, 113, 0.4) */
 
 /*z-index: 0;
 
} */
.title {
  margin-top: 3rem;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #334756;
 font-size: 4rem;
  /* transform: translate(-50%,-50%); */
 
}
.title-2 {
  font-family: 'Palette Mosaic', cursive;
 color: #334756;
 padding: 1rem 2rem 4rem 0rem;
 margin-bottom: 0%;

 text-align:center;
}
.title-3 {
  font-family: 'Anton', sans-serif;
 
  color: #005A8D ;
  font-size: 2.5rem;
  padding: 3rem 2rem 4rem 0rem;
 text-align: center;


}
.title-4 {
  color: #005A8D ;
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  padding: 4rem 2rem 4rem 0rem;
  text-align: center;
}
.content  {
 font-size: 20px;
 line-height: 2.5rem;
 width: 70%;
 padding-top: 1rem;
 padding-bottom: 3rem;
 margin-left: auto;
 margin-right: auto;
}
.content-2-bg {
 margin: 1rem 0rem 1rem 0rem;
 width: 100%;
 
}
.content-2 {
 line-height: 2.5rem;
 font-size: 20px;
 width: 70%;
 padding-top: 1rem;
 margin-left: auto;
 margin-right: auto;
 

}
.floater {
 position: absolute;
 font-family: 'Atkinson Hyperlegible', sans-serif;
 color: #334756;
 /* box-shadow: 8px 0px 21px 0px rgba(0, 0, 0,0.3) ; */
 top: 25%;
left: 5%;
 width: 90%;
 text-align: left;
 
 /* background-color:#FFDAB9 ; */
 /* 9 */
 
}
.xtra {
  padding-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  height: 100vh;
 background-color: #77ACF1 ; /* #FFDEDE */
}

.list {
  /* font-family: 'Atkinson Hyperlegible', sans-serif; */
  padding-top: 2rem;
  text-align: center;
  font-size: 1rem;
  line-height: 3rem;

  

}
.list-2 {
  /* font-family: 'Atkinson Hyperlegible', sans-serif; */
  padding-top: 2rem;
  text-align: center;
  font-size: 1rem;
  line-height: 2.5rem;
  

}
.flex-1 {
 
 
  font-family: 'Montserrat', sans-serif;
  
  color:   #334756;
  

  width: 30vw;
}
.flex-2 {

  font-family: 'Montserrat', sans-serif;
  color:   #334756;
  width: 30vw;
}
/* our team */
.team-title {
 
  position: relative;
  top: 10%;
  text-align: center;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #5089C6 ;
 font-size: 3rem;
}

.section-team {
  background-color: #EEEEEE;
  height: 100vh;
  
}
.team {
  position: relative;
  display: flex;
  align-items: center;
  top: 30%;

  justify-content: center;
 

} 
.our-team {
  background: #334756;
  ;
  text-align: center;
  overflow: hidden;
  position: relative;
  height: 25vh;
  
  width: 14vw;
  margin: 0px 25px;
  padding: 30px;
   box-shadow: 2px 2px 10px 0px rgba(0, 0, 0,0.2) ;
}  
.team-content {
  color: #EEEEEE;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  margin: 3rem 0 0rem 0;
  
}
.post {

  padding-top: 10px;
}
.social {
 
  width: 100%;
  padding: 0;
  margin: 0;
  background: #5089C6;
  position: absolute;
  left: 0;
  bottom: 0;

  transition: all 200ms ease-in-out;

}
 .social li { 
  
  text-decoration: none;

}
 
.our-team:hover .social {
  bottom: 0;
}
.our-team .social li {
  display: inline-block;

}
.our-team .social li a {
 
   display: block; 
  padding: 20px;
  transition: all 200ms ease-in;
 }
 .our-team .social li a:hover {
   color: rgb(255, 255, 255);
   
 }